<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <h1 class="title">{{site.about_me_title}}</h1>
    <p class="description" data-aos="fade-down">{{site.about_me_description}}</p>
        <i class="fas fa-user fa-3x"></i>
        <i class="fas fa-birthday-cake fa-3x"></i>
        <i class="fas fa-map-marker-alt fa-3x"></i>
        <i class="fas fa-phone fa-3x"></i>
        <i class="fas fa-envelope fa-3x"></i>
        <i class="fas fa-graduation-cap fa-3x"></i>
</body>
</html>
