<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <h1 class="title">{{site.about_me_title}}</h1>
    <p class="description" data-aos="fade-down">{{site.about_me_description}}</p>
    <p class="description aos-init aos-animate" data-aos="fade-down">
  👤 이름: 이재우
    </p>
      <p class="description aos-init aos-animate" data-aos="fade-down">
  🗒 생년월일: 99.10.01
    </p>
      <p class="description aos-init aos-animate" data-aos="fade-down">
  🔍 주소지: 대전광역시 복수동
    </p>
      <p class="description aos-init aos-animate" data-aos="fade-down">
  📱 연락처: 010-3378-6169.
    </p>
      <p class="description aos-init aos-animate" data-aos="fade-down">
  ✉️ 이메일: dlwodn9910@naver.com
    </p>
      <p class="description aos-init aos-animate" data-aos="fade-down">
  👨‍🎓 Hi, my na.
    </p>
